


 *{
    font-family: "Fira Sans", serif;
    /* background-color: #f5f5f5; */
}



.common-style{
    background-color: #F5F5F5;
}
.logo1 {
    font-weight: bold;
}

.resume-btn {
    background-color: white;
    color: rgb(19, 169, 131);
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    /* font-weight: 600; */
    border: 1px solid rgb(0, 106, 80);
    box-sizing: border-box;

    border-radius: 8px;

}

.a-btn {
    border-radius: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    margin-top: 24px;

    background: rgb(0, 106, 80);
    gap: 48;
    padding: 17px 34px 17px 34px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    gap: 890px;
    padding: 24px 160px 24px 160px;
    /* Frame 2 */

    width: 1600px;
    height: 100px;

}

.banner-content{
    /* border: 1px solid red; */
    margin: 10px 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.banner-button{
    font-family: "Fira Sans", serif;
    font-size: 18px;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
}

.content h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-button:hover{
    cursor: pointer;
    background-color: #00a07b;
}


.vision{
    margin: 10px 160px;
}

.section-1 {
  
    display: flex; 
    flex-direction: row;
    gap: 24px;

}
.card-1, .card-2, .card-3{
    /* border: 1px solid red; */
    border-radius: 16px;
    padding: 32px;

}

.card-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.card-2{
    background-color: #C6E4D6;;
}
.card-3{
    background-color: #F7EBCF;
}



.younus-section{
    margin: 80px 160px;
    padding: 24px 48px;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
}



.news-content{
    margin: 10px 160px;
}

.news-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
}

.news-card2{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: white;
    padding: 48px;
    border-radius: 24px;
}

 

.news-img{
    border-radius: 24px;
}

.donate-section{
    margin: 10px 160px;
    text-align: center;
}

.donate-cards{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 24px;

}

/* subscribe */
.donate-section-1{
    margin: 10px 160px;
text-align: center;
border-radius: 24px;

background: rgb(198, 228, 214);
gap: 64;
padding: 80px 100px 80px 100px;
}

.input-1{
    border-radius: 8px 0px 0px 8px;

background: rgb(255, 255, 255);
gap: 24;
padding: 18px 40px 18px 40px;
width: 600px;
height: 55px;
color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-style: none;
}

.btn-s{
    border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);

width: 150px;
height: 93px;
gap: 48;
padding: 17px 34px 17px 34px;
color: #F5F5F5;
border-style: none;
}

.card1, .card3, .card4{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: white;
    padding: 40px 40px;
    border-radius: 16px;
    
}

.card2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #C6E4D6;
    padding: 40px 40px;
    border-radius: 16px;
}

.card1, .card2, .card3, .card4, h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: rgba(14, 14, 14, 0.8);
}

.donate-input{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22;
    padding-right: 124px;
    padding-left: 124px;
}


.input-amount{

    border: 1px solid rgba(14, 14, 14, 0.15);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(14, 14, 14, 0.3);
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.card1:hover{
    background-color: #4ba47b;
}
.card2:hover{
    background-color: #4ba47b;
}
.card3:hover{
    background-color: #4ba47b;
}
.card4:hover{
    background-color: #4ba47b;
}

.container {
    margin: 0 auto;
    position: static;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 65px 90px 65px 90px;
    border-radius: 24px;

    background: rgb(198, 228, 214);
}

.content {
    position: static;
    width: 622px;
    height: 326px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 0px;

}

.b1 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.p1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.div-pillar {
    margin-top: 80px;
}

.div-h2 {

    margin: 0 auto;
    color: rgb(14, 14, 14);
     
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 32px;

}

.div-content {

    margin: 0px auto;

    position: static;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24;
    padding: 0px;

}

.pillar-container {

   
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(253, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 24px;
   

}

.h-3 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    margin-top: 24px;

}

.p-1 {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

 
.vision-h11{
    margin-top: 80px ;
}
 
.vision-p{
    margin: 0 auto;
    color: rgba(14, 14, 14, 0.7);
   
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0%;
    margin-bottom: 24px;

}
  

.h-3{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
}

.p-2{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
}

.l-1{
    border-radius: 8px;
   padding: 11px 20px 11px 20px;
    background: rgb(84, 144, 245);
    gap: 48px;
  
    border-style: none;
    color: white;
}

.light-green{
    background: rgb(9, 161, 92);
}

.light-yellow{
    background: rgb(255, 194, 57);
}