

* {
    margin: 0px;
    padding: 0px;
}
 
.logo1 {
    font-weight: bold;
}

.resume-btn {
    background-color: white;
    color: rgb(19, 169, 131);
    padding: 15px 30px 15px 30px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(0, 106, 80);
    box-sizing: border-box;

    border-radius: 8px;

}

.a-btn {
    border-radius: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    margin-top: 24px;

    background: rgb(0, 106, 80);
    gap: 48;
    padding: 17px 34px 17px 34px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    gap: 890px;
    padding: 24px 160px 24px 160px;
    /* Frame 2 */

    width: 1600px;
    height: 100px;

}

.container {
    margin: 0 auto;
    position: static;
    width: 1280px;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 65px 90px 65px 90px;
    border-radius: 24px;

    background: rgb(198, 228, 214);
}

.content {
    position: static;
    width: 622px;
    height: 326px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 0px;

}

.b1 {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.p1 {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.div-pillar {
    margin-top: 80px;
}

.div-h2 {

    margin: 0 auto;
    color: rgb(14, 14, 14);
    width: 1480px;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 32px;

}

.div-content {

    margin: 0px auto;

    position: static;
    width: 1480px;
    height: 244px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24;
    padding: 0px;

}

.pillar-container {

    width: 302px;
    height: 244px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(253, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 24px;
}

.h-3 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    margin-top: 24px;

}

.p-1 {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
